.about-breed {
   margin: 40px 15px;
   &__item {
      border-radius: 20px;
      padding: 0px;
      background: $accent;
      img {
         border-top-left-radius: 20px;
         border-top-right-radius: 20px;
      }
   }
   &__item-body {
      padding: 10px 20px 10px 20px;
      h3 {
         display: block;
         padding-top: 8px;
         font-size: 22px;
         font-weight: 600;
         color: #fff;
      }
      span {
         display: block;
         padding-top: 8px;
         font-size: 16px;
      }
   }
   &__item-btn {
      border-radius: 20px;
      margin: 30px 0px 20px 0px;
      background: #fff;
      padding: 0px 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 3px solid transparent;
      position: relative;
      z-index: 20;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      span {
         font-size: 20px;
         font-weight: 500;
         padding-bottom: 7px;
      }
      &:hover {
         border: 3px solid #fff;
         background: none;
         span {
            color: #fff;
         }
      }
   }
}

.pet-hold {
   height: 48px;
   .pet-menu {
      display: block;
      width: 100%;
      font-size: 16px;
      height: 48px;
      overflow: hidden;
      z-index: 12;
      margin: 0 auto;
      .pet-menu-scroll {
         -webkit-overflow-scrolling: touch;
         display: block;
         white-space: nowrap;
         overflow: hidden;
         overflow-y: hidden;
         overflow-x: scroll;
         width: 100%;
         height: 67px;
         max-width: 1024px;
         margin: 0 auto;
         &__link {
            margin-left: 5px;
            padding: 8px 16px;
            color: $text;
            font-weight: 600;
            line-height: 50px;
            transition: all 0.3s ease 0s;
            border: 2px solid $accent;
            &:first-child {
               border-top-left-radius: 10px;
               border-bottom-left-radius: 10px;
            }
            &:last-child {
               border-top-right-radius: 10px;
               border-bottom-right-radius: 10px;
            }
            &:hover {
               color: #fff;
               border: 2px solid transparent;
               background: $accent;
            }
         }
      }
   }
}

.info-about-species {
   .photo-gallery {
      padding-left: 15px;
      padding-right: 7px;
   }
   &__subtitle {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin-top: 14px;
   }
   &__quote {
      position: relative;
      margin: 70px 0px 80px 40px;
      p {
         font-size: 16px;
      }
      &::before {
         position: absolute;
         content: "";
         top: -40px;
         left: -40px;
         width: 35px;
         height: 35px;
         background: url(../img/icons/quote-left.svg) 0 0 / cover no-repeat;
      }
      &::after {
         position: absolute;
         content: "";
         bottom: -40px;
         right: 0px;
         width: 35px;
         height: 35px;
         background: url(../img/icons/quote-left.svg) 0 0 / cover no-repeat;
      }
   }
   &__share-label {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      margin-top: 5px;
   }
   &__share-list {
      display: flex;
      li {
         margin-left: 17px;
         &:first-child {
            margin-left: 0;
         }
      }
   }
   &__share-link {
      border-radius: 20px;
      margin-top: 17px;
      transition: all 0.3s ease 0s;
      &:hover {
         transform: scale(1.1);
      }
   }

   &__rates {
      padding: 0px 0px 80px 0px;
   }
   &__enumeration {
      background: $accent-2;
      margin: 15px 0px;
      padding: 15px 10px;
      border-radius: 20px;
   }
   &__enumeration-title {
      position: relative;
      max-width: 300px;
      transition: all 0.3s ease 0s;
      &::after {
         position: absolute;
         content: "";
         top: 7px;
         right: 20px;
         border: 12px solid transparent;
         border-top: 18px solid $accent;
         transition: all 0.3s ease 0s;
      }
   }
   &__enumeration-title.active {
      transition: all 0.3s ease 0s;
      &::after {
         top: -3px;
         transform: rotateZ(180deg);
         border-top: 18px solid #f02f15;
      }
   }

   &__enumeration-body {
      display: none;
   }

   &__enumeration-list {
      padding-left: 20px;
      margin-top: 10px;
      li {
         padding: 4px 0px;
      }
   }
   &__enumeration-link {
      font-size: 16px;
      text-decoration: underline;
   }
   &__content {
      .title-h2 {
         margin: 80px 0px 20px 40px;
      }
      img {
         width: 100%;
         border-radius: 10px;
         margin: 20px 0px;
      }
   }
   &__comment {
      margin-top: 70px;
      .title-h2 {
         margin-bottom: 40px;
      }
   }
   &__comment-user-and-data {
      display: flex;
      justify-content: space-between;
      color: $accent;
      font-weight: 500;
      font-size: 16px;
   }
   &__comment-text {
      font-weight: 600;
      font-size: 15px;
      color: #000000;
      margin-top: 30px;
   }
}

.info-about-species .catalog-content__item {
   max-height: 310px;
   min-height: 51%;
   max-width: 255px;
}

.rate-column {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 30px;
   span {
      display: block;
      margin-top: 7px;
      width: 100%;
      height: 20px;
      border-radius: 20px;
      max-width: 100px;
   }
   &__title {
      font-weight: 600;
      font-size: 16px;
      margin-top: 10px;
      text-align: center;
   }
   &__yellow {
      .rate-column__span {
         &:nth-child(1) {
            background: $accent;
            animation: 0.3s ease-in-out both rate-animation;
            animation-delay: 0.7s;
         }
         &:nth-child(2) {
            background: $accent;
            animation: 0.3s ease-in-out both rate-animation;
            animation-delay: 0.5s;
         }
         &:nth-child(3) {
            background: $accent;
            animation: 0.3s ease-in-out both rate-animation;
            animation-delay: 0.3s;
         }
         &:nth-child(4) {
            background: $accent;
            animation: 0.3s ease-in-out both rate-animation;
            animation-delay: 0.1s;
         }
      }
   }
   &__green {
      .rate-column__span {
         &:nth-child(1) {
            background: #4bc82d;
         }
         animation: 0.3s ease-in-out both rate-animation;
         animation-delay: 0.9s;
         &:nth-child(2) {
            background: #4bc82d;
            animation: 0.3s ease-in-out both rate-animation;
            animation-delay: 0.7s;
         }
         &:nth-child(3) {
            background: #4bc82d;
            animation: 0.3s ease-in-out both rate-animation;
            animation-delay: 0.5s;
         }
         &:nth-child(4) {
            background: #4bc82d;
            animation: 0.3s ease-in-out both rate-animation;
            animation-delay: 0.3s;
         }
         &:nth-child(5) {
            background: #4bc82d;
            animation: 0.3s ease-in-out both rate-animation;
            animation-delay: 0.1s;
         }
      }
   }
   &__red {
      .rate-column__span {
         &:first-child {
            background: #f02f15;
            animation: 0.3s ease-in-out both rate-animation;
            animation-delay: 0.3s;
         }
         &:nth-child(2) {
            background: #f02f15;
            animation: 0.3s ease-in-out both rate-animation;
            animation-delay: 0.1s;
         }
      }
   }
}

@keyframes rate-animation {
   0% {
      opacity: 0;
      transform: scale(0);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

.commentbar {
   margin: 70px 0px 0px 0px;
   background: $accent-2;
   border-radius: 20px;
   padding: 25px 15px 25px 15px;
   &__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 32px;
      letter-spacing: 0.02em;
      color: #333333;
      position: relative;
      margin-left: 40px;
      &::before {
         position: absolute;
         content: "";
         top: 12px;
         left: -40px;
         width: 30px;
         height: 25px;
         background: url(../img/icons/chat.svg) 0 0 / cover no-repeat;
      }
   }
   &__form {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
   }
   &__input-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      margin-top: 20px;
      margin-bottom: 4px;
   }
   &__input {
      display: inline-block;
      width: 100%;
      height: 35px;
      font-size: 16px;
      padding-left: 10px;
      border-radius: 20px;
      border: 1px solid $accent;
      &:hover,
      &:focus {
         box-shadow: 0px 2px 10px rgba(139, 139, 139, 0.7);
      }
   }
   &__textarea {
      border-radius: 20px;
      border: 1px solid $accent;
      display: inline-block;
      width: 100%;
      font-size: 16px;
      padding: 10px;
      max-height: 200px;
      &:hover,
      &:focus {
         box-shadow: 0px 2px 10px rgba(139, 139, 139, 0.7);
      }
   }
   button {
      color: $accent;
      font-size: 16px;
      font-weight: 600;
      margin-top: 30px;
      margin-left: 20px;
      border-bottom: 2px solid $accent;
      border-left: 2px solid transparent;
      border-top: 2px solid transparent;
      border-right: 2px solid transparent;
      background: none;
      padding: 10px;
      transition: all 0.3s ease 0s;
      &:hover {
         border-left: 2px solid $accent;
         border-top: 2px solid $accent;
         border-right: 2px solid $accent;
      }
      &:focus {
         background: $accent;
         color: #fff;
      }
   }
}

.news-item {
   &__date {
      margin-bottom: 20px;
   }
}

.info-about-species__photo {
   margin: 0px 0px 30px;
   img {
      margin-top: 30px;
   }
}

.info-about-species__video {
   padding: 10px 15px 50px 15px;
}
.video {
   .info-about-species__video {
      padding: 5px;
   }
}

.thumb-wrap {
   position: relative;
   padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
   height: 0;
   overflow: hidden;
}

.thumb-wrap iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
   outline-width: 0;
}

.news-btn-photo {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
   font-size: 16px;
   background: $accent;
   padding: 10px;
   margin-top: 30px;
   margin-left: 15px;
   border-radius: 20px;
   border: 4px solid transparent;
   transition: all 0.3s ease 0s;
   img {
      margin-top: 0px;
   }
   span {
      color: #fff;
      margin-top: 1px;
   }
   &:hover {
      border: 4px solid $accent;
      background: none;
      span {
         color: $text;
      }
   }
}

.foto-img {
   position: relative;
   overflow: hidden;
   width: 100%;
   padding-bottom: 30%;
   img {
      position: absolute;
      object-fit: cover;
      width: 97%;
      height: 97%;
      top: 0px;
      left: 0px;
      z-index: 20;
   }
   &:first-child {
      margin-left: 0;
   }
}

.arct__item:hover .arct__bg {
   transform: scale(1.1);
   overflow: hidden;
   transition: all 1.5s ease 0s;
}

.arct__item:hover .arct__btn {
   background: $accent;
   color: $bg-body;
}

.arct {
   &__item {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-bottom: 320px;
      border-radius: 15px;
      margin-top: 15px;
      &::before {
         position: absolute;
         content: "";
         top: 0px;
         left: 0px;
         right: 0px;
         bottom: 0px;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.4);
         z-index: 1;
         border-radius: 15px;
         overflow: hidden;
      }
   }
   &__body {
      width: 100%;
      height: 100%;
      bottom: -170px;
      position: absolute;
      z-index: 1;
      padding: 0px 10px;
      border-radius: 15px;
   }
   &__bg {
      transition: all 0.5s ease 0s;
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 0;
      border-radius: 15px;
   }
   &__title {
      color: $bg-body;
      font-weight: 700;
      font-size: 23px;
      line-height: 26px;
      letter-spacing: 0px;
      margin-bottom: 10px;
   }
   &__text {
      color: $bg-body;
      font-weight: 500;
      font-size: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 15px;
   }
   &__btn {
      position: relative;
      font-size: 16px;
      background: $bg-body;
      padding: 4px 6px;
      border-radius: 15px;
      font-weight: 600;
   }
}

.nick {
   &__item {
      margin-top: 40px;
   }
   &__title-main {
      text-align: center;
      font-weight: 700;
      font-size: 25px;
      line-height: 32px;
      letter-spacing: 0.02em;
      color: #333333;
      margin-top: 40px;
   }
   &__rowlink {
      width: 100%;
      text-align: center;
      padding: 20px 0px;
      a {
         font-size: 22px;
         font-weight: 600;
         color: $accent;
         letter-spacing: 5px;
         position: relative;
         padding-bottom: 2px;
         &:hover {
            &::before {
               position: absolute;
               content: "";
               bottom: 0px;
               left: 0px;
               width: 80%;
               background: $accent;
               height: 2px;
            }
         }
      }
   }
   &__img {
      padding: 30px 140px;
   }

   &__quite {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 90px;
      p {
         font-size: 16px;
      }
   }
}

.foto-item {
   position: relative;
   overflow: hidden;
   width: 100%;
   padding-bottom: 320px;
   border-radius: 15px;
   img {
      position: absolute;
      object-fit: cover;
      width: 97%;
      height: 97%;
      top: 0px;
      left: 0px;
      z-index: 20;
   }
}

.tabs__link.active {
   background: none;
   border: 3px solid $accent;
   color: $text;
}

.tabs {
   margin-top: 35px;
   &__content {
      margin-top: 50px;
   }
   &__list {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
   }
   &__link {
      margin-top: 15px;
      background: $accent;
      font-size: 19px;
      font-weight: 600;
      color: $bg-body;
      padding: 9px 25px;
      border: 3px solid transparent;
      border-radius: 15px;
      transition: all 0.3s ease 0s;
      &:hover {
         border: 3px solid $accent;
         background: transparent;
         color: $text;
      }
   }
   &__title {
      font-weight: 600;
      font-size: 28px;
      margin: 20px 0px 20px 40px;
   }
   &__alphabet-search {
      font-weight: 500;
      font-size: 22px;
      margin: 20px 0px;
   }
   &__alphabet-link {
      border-radius: 5px;
      padding: 2px 4px 2px 4px;
      transition: all 0.2s ease 0s;
      &:hover {
         background: $accent;
         color: #fff;
      }
   }
   &__block {
      margin-top: 50px;
   }
   &__item {
      margin: 10px 0px;
      padding: 22px 22px 30px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
      border-radius: 15px;
      background: $accent-2;
      color: #000;
      font-weight: 500;
      border: solid 1px $accent;
      font-size: 16px;
      transition: all 0.3s ease 0s;
      &:hover {
         box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
      }
      h2 {
         font-size: 22px;
         font-weight: 600;
      }
   }
}

.photo-content {
   overflow: hidden;
   width: 100%;
   display: table;
   margin: 70px auto;
}

.photo-content {
   ul {
      li {
         margin-top: 20px;
         float: left;
         width: 33.333%;
         position: relative;
         padding-bottom: 300px;
         overflow: hidden;
      }
   }
}

.photo-content ul li a img {
   padding: 0px 10px 0px 10px;
   position: absolute;
   object-fit: cover;
   min-width: 97%;
   min-height: 100%;
   top: 0px;
   left: 0px;
   overflow: hidden;
}
