


.content {
   width: 100%;
   height: 100%;
   flex: 1 0 auto;
   overflow: hidden;
   position: relative;
}

.searchline {
   position: relative;
   margin-top: 60px;
   width: 100%;
   background: #fcf0de;
   &__body {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__search-block {
      display: flex;
      position: relative;
      font-size: 16px;
      transition: all 0.3s ease 0s;
   }
   &__search-input {
      display: inline-block;
      border-radius: 30px;
      width: 90%;
      padding: 20px 0px 20px 50px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      transition: all 0.3s ease 0s;
      &:focus,
      &:hover {
         box-shadow: 0px 2px 6px rgba(139, 139, 139, 0.4);
      }
   }
   &__search-input-icon {
      position: absolute;
      top: 20px;
      left: 15px;
   }
   &__search-button {
      line-height: 30px;
      transition: all 0.3s ease 0s;
      display: block;
      background: $accent;
      padding: 15px;
      font-weight: 600;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      margin-left: 10px;
      color: $accent-2;
      border: 3px solid transparent;
      &:hover {
         background: transparent;
         border: 3px solid $accent;
         color: $text;
      }
   }
   &__tags-body {
      background: #fffaf3;
      overflow: hidden;
      top: -60px;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 2px 5px rgba(139, 139, 139, 0.4);
   }
   &__tags-block {
      overflow-y: scroll;
      height: 180px;
      padding: 30px 15px;
   }
   &__tags-tag {
      display: inline-block;
      font-weight: 600;
      font-size: 11px;
      line-height: 15px;
      padding: 10px;
      border: 1px solid $accent;
      border-radius: 20px;
      margin-left: 20px;
      margin-top: 10px;
      transition: all 0.3s ease 0s;
      &:hover {
         background: $accent;
         color: #fcf0de;
      }
   }
}

.catalog-content {
   padding: 80px 0px 250px 0px;
   position: relative;
   .breadcrumb {
      margin-bottom: 20px;
   }
   &__item {
      margin-top: 40px;
      position: relative;
      background: $accent;
      border-radius: 20px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      min-height: 90%;
      span {
         display: block;
      }
      img {
         width: 100%;
         height: 100%;
         border-top-left-radius: 20px;
         border-top-right-radius: 20px;
         max-height: 170px;
      }
   }
   &__item-body {
      padding-left: 10px;
      width: 100%;
      text-align: start;
   }
   &__item-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      margin: 10px 0px 6px 0px;
   }
   &__item-subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #fffaf3;
   }
   &__item-info {
      position: absolute;
      top: 30px;
      right: 30px;
   }
   &__item-btn {
      margin-left: 3px;
      margin-top: 26px;
      font-weight: 700;
      font-size: 13px;
      line-height: 13px;
      background: #fff;
      padding: 7px;
      display: inline-block;
      border-radius: 20px;
      border: 3px solid transparent;
      box-shadow: 0px 2px 4px rgba(139, 139, 139, 0.4);
      transition: all 0.3s ease 0s;
      &:hover {
         border: 3px solid #fff;
         color: #fff;
         background: transparent;
      }
      .paw-link{
         max-width: 15px;
      }
   }
   &__item-likes {
      position: absolute;
      right: 10px;
      bottom: 20px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.08em;
      color: #fff;
      span {
         margin-top: 2px;
         margin-left: 5px;
      }
      img{
         max-width: 21px;
         height: auto;
      }
   }
}

.news-item {
   background: $accent;
   border-radius: 20px;
   position: relative;
   margin-top: 30px;
   &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 3;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
   }
   &__title {
      font-weight: bold;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-top: 10px;
      margin-bottom: 30px;
   }
   &__date {
      font-size: 12px;
      line-height: 25px;
      letter-spacing: 0.02em;
      color: #ffffff;
      
   }
   &__btn {
      position: absolute;
      right: 20px;
      bottom: 15px;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.02em;
      color: #000000;
      background: #fff;
      transition: all 0.3s ease 0s;
      padding: 3px;
      border-radius: 20px;
      box-shadow: 0px 2px 4px rgba(139, 139, 139, 0.4);
      display: inline-block;
      border: 3px solid transparent;
      &:hover {
         border: 3px solid #fff;
         color: #fff;
         background: transparent;
      }
   }
}

.news-arcticle {
   margin-top: 60px;
   .title-h2 {
      padding-bottom: 20px;
   }
   &__img {
      padding: 20px 0px;
      img {
         border-radius: 20px;
      }
   }
}
